@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        $("#Account").val($.request('account'));
        $("#RealName").val($.request('realName'));
    });
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        } 

        var pwd = $("#Password").val();
        $("#Password").val($.md5($.trim($("#Password").val())));
        $.submitForm({
            url: '@Url.Action("SubmitRevisePassword")' + '?keyValue=' + keyValue,//"/SystemManage/User/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
        $("#Password").val(pwd);
    }
</script>
<form id="form1">
    <div style="padding-top: 30px; margin-right: 40px;">
        <table class="form">
            <tr>
                <th class="formTitle">账户</th>
                <td class="formValue">
                    <input id="Account" name="Account" readonly type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">姓名</th>
                <td class="formValue">
                    <input id="RealName" name="RealName" readonly type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">密码</th>
                <td class="formValue">
                    <input id="Password" name="Password" type="password" class="form-control required" placeholder="请输入新密码" />
                </td>
            </tr>
        </table>
    </div>
</form>
