<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="Z2DbContext" connectionString="Server=DBS2\SQL2014_02;Initial Catalog=Z2;User ID=sa;Password=fish" providerName="System.Data.SqlClient" />
  <!--<add name="Z2DbContext" connectionString="Server=.;Initial Catalog=Z2Base;User ID=sa;Password=123" providerName="System.Data.SqlClient" />-->
  <!--<add name="Z2DbContext" connectionString="Server=ZHU-MACPC\SQLEXPRESS;Initial Catalog=Z2Base;User ID=sa;Password=fish" providerName="System.Data.SqlClient" />-->
</connectionStrings>