<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  
  <!-- 0:SqlServer -->
  <!-- 1:MySql -->
  <add key="DataBaseType" value="SqlServer" />

  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Cookie" />
  <!-- 启用系统日志-->
  <add key="IsLog" value="true" />
  <!-- 数据库超时间-->
  <add key="CommandTimeout" value="180" />
  <!--启用IP过滤 -->
  <add key="IsIPFilter" value="false" />
  <!-- ================== 2：系统软件参数配置 ================== -->
  <!-- 联系我们 -->
  <add key="Contact" value="www.zhujing0866.com" />
  <!-- 系统名称 -->
  <add key="SystemName" value="快速开发框架" />
  <add key="SystemShortName" value="快速开发框架" />
  <add key="CopyRight" value="zhujingcheng@xh2005.com" />
  <!-- 软件版本 -->
  <add key="Version" value="1.0" />
  <!-- 软件授权码 测试备用 -->
  <add key="LicenceKey" value="83eda07f-ead3-4050-bcee-4f41e57a7e16" />

  <add key="WebUrl" value="info@zhujing0866.com" />

  <!-- ================== 3：外部邮件参数 ================== -->
  <!-- 设置邮箱名称 -->
  <add key="MailName" value="邮件中心" />
  <!-- 设置邮箱地址 -->
  <add key="MailUserName" value="info@zhujing0866.com" />
  <!-- 设置邮箱密码 -->
  <add key="MailPassword" value="123456" />
  <!-- 设置邮箱主机 -->
  <add key="MailHost" value="zhujing0866.163.com" />
  <!-- ================== 4：文件上传相关配置 ================== -->
  <!-- 文件上传保存方式 0：路径；1：DB -->
  <add key="FileUploadSaveType" value="0" />
  <!-- 文件上传路径 -->
  <add key="FileUploadPath" value="C:\001\Z2\" />
  <add key="AllowFileExtension" value=".gif,.jpg,.png,.bmp,.rar,.zip,.doc,.docx,.xls,.xlsx,.txt,.mp3,.cshtml,.rdlx" />
  <add key="AllowFileSize" value="0" />
  <!--优先级 -->
  <add key="TaskPriority" value="0:低,1:普通,2:高,3:紧急" />
</appSettings>