@model Z2.Web.Areas.PM.Controllers.PendingTaskViewModel
<h1>待处理任务</h1>
<div>
    这是个来自任务管理的组件
</div>

<div style="padding-top: 10px; margin-right: 30px;">
    <table class="form">
        <tr>
            <th class="formTitle">字符串</th>
            <td class="formValue">
                @Html.DisplayFor(m=>m.WString)
            </td>
            <th class="formTitle">日期</th>
            <td class="formValue">
                @Html.DisplayFor(m => m.WDate)               
            </td>

        </tr>
    </table>
</div>